In [86]:
#Pipline nd onhot encoding(dummy encoding) nd col transform
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder

In [37]:
df  = pd.read_csv("http://bit.ly/kaggletrain")
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [39]:
df = df.loc[df.Embarked.notnull(),['Survived','Pclass','Sex','Embarked']]
df.shape

(889, 4)

In [27]:
df.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [48]:
X = df.loc[:,['Pclass']]
y = df.Survived
X.shape
y.shape

(889,)

In [51]:
logreg = LogisticRegression()
cross_val_score(logreg, X, y, cv=5, scoring="accuracy").mean()

0.6783406335301212

In [53]:
y.value_counts(normalize=True) #null acc=.61 means (most freq class)

0    0.617548
1    0.382452
Name: Survived, dtype: float64

In [83]:
ohe = OneHotEncoder(sparse=False) # we want dense
ohe.fit_transform(df[['Sex']])
print(ohe.categories_)

[array(['female', 'male'], dtype=object)]

In [61]:
X = df.drop('Survived',axis=1)

In [67]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [64]:
col_trans = make_column_transformer(
    (OneHotEncoder(),['Sex','Embarked']),
     remainder='passthrough')

In [79]:
# col_trans.fit_transform(X)

In [80]:
pipeline = make_pipeline(col_trans,logreg) #pipline model building ...... and preprosesing
cross_val_score(pipeline, X, y, cv=5, scoring="accuracy").mean()

0.7727924839713071

In [84]:
X_new = X.sample(5,random_state=4)
# X_new

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  ['Sex', 'Embarked'])],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [85]:
pipeline.fit(X,y)#it's like model but first preprocessing and as well model fitting
pipeline.predict(X_new) #doing dummy encoding of new data

array([1, 1, 0, 1, 1], dtype=int64)