In [31]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [92]:
yelp_1 = pd.read_csv("C:\\Users\\UMANG PATEL\\Desktop\\Scikit_learn\\pycon-2016-tutorial-master\\data\\yelp.csv")

In [93]:
(yelp_1.head())
# yelp.shape

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [102]:
yelp = yelp_1.loc[(yelp_1.stars==5)|(yelp_1.stars==1),['text','stars']]
# yelp.stars=yelp.stars.astype(object)
# yelp.stars.dtypes

In [103]:
yelp.sample(10)
# print(yelp.stars.value_counts())
# yelp['stars'] = yelp.stars.map({5:1,1:0})
# yelp.sample(10)

                                                   text  stars
1323  I just wanted to add that in addition to party...      5
3898  Have you ever eaten somewhere and just can't g...      5
5193  Not exactly what I expected .....................      5
6634  I am a huge fan of Chipotle but I will never c...      1
4165  OMG! what is the rave about? this place is dis...      1
9081  Yes, the place is busy every time I go there, ...      5
2983  We went there yesterday a I enjoyed it. The at...      5
8223  NEW LOCATION FOR 2012: \nPortland Parkway in D...      5
9884  I love this place I have been here 2wice and i...      5
3140  My husband and I eat out a lot and we had the ...      5

In [104]:
X = yelp.text     #always remember to pass series not DF in this type of problem
y = yelp.stars
print(X.shape)
print(y.shape)

(4086,)
(4086,)

In [135]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(3064,)
(3064,)
(1022,)
(1022,)

In [106]:
vect = CountVectorizer()

In [107]:
vect.fit(X_train)      #here our vocab is ready
X_train_dtm = vect.transform(X_train)
X_train_dtm

<3064x16825 sparse matrix of type '<class 'numpy.int64'>'
	with 237720 stored elements in Compressed Sparse Row format>

In [108]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<1022x16825 sparse matrix of type '<class 'numpy.int64'>'
	with 77006 stored elements in Compressed Sparse Row format>

In [109]:
nb = MultinomialNB()

In [110]:
%time nb.fit(X_train_dtm,y_train)

Wall time: 5.98 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [30]:
y_pred = nb.predict(X_test_dtm)

In [111]:
metrics.accuracy_score(y_test,y_pred)

0.9187866927592955

In [2]:
# y_test.value_counts()
metrics.confusion_matrix(y_test,y_pred)

NameError: name 'metrics' is not defined

In [113]:
(X_test[y_pred > y_test])

2175    This has to be the worst restaurant in terms o...
1781    If you like the stuck up Scottsdale vibe this ...
2674    I'm sorry to be what seems to be the lone one ...
9984    Went last night to Whore Foods to get basics t...
3392    I found Lisa G's while driving through phoenix...
8283    Don't know where I should start. Grand opening...
2765    Went last week, and ordered a dozen variety. I...
2839    Never Again,\nI brought my Mountain Bike in (w...
321     My wife and I live around the corner, hadn't e...
1919                                         D-scust-ing.
2490    Lazy Q CLOSED in 2010.  New Owners cleaned up ...
9125    La Grande Orange Grocery has a problem. It can...
9185    For frozen yogurt quality, I give this place a...
436     this another place that i would give no stars ...
2051    Sadly with new owners comes changes on menu.  ...
1721    This is the closest to a New York hipster styl...
3447    If you want a school that cares more about you...
842     Boy is the name a temptation.Seriously :)  I'l...
6159    Really, if I could, I would give this place ze...
943     Don't waste your time...Arrowhead mall on the ...
5977    You want good food? You'd be better off smuggl...
8833    The owner has changed hands & this place isn't...
6584    Jimmy Johns is cheaper and better ... The Capr...
1899    Buca Di Beppo is literally, italian restaurant...
9953    "Hipster,Trendy" ????-I think NOT !!!! Very di...
2060                This place is closed.  Good riddance.
3082    Currently having a liquidation sale, but it's ...
8220    Maybe I ate at a different restaurant than the...
3634    Seriously?! With grocery stores like Fresh & E...
3266    Absolutely awful... these guys have NO idea wh...
7397    This place sucks!! I moved to the valley and h...
4473    It is what you would expect from any themed pl...
5502    Angry Bro Bar !  Please go here if you wear si...
2615    Great in its day, now leaves a lot to be desir...
3413    I purchased the Enotria groupon when it was re...
2999    I can't even believe I actually went to this r...
1372    No offense to everyone who gave this place 5 s...
1291    Every time I come here the staff is so rude! I...
6222    My mother always told me, if I didn't have any...
9296    My boyfriend and I tried this place last year ...
7975    What are you all talking about?! This place is...
4630    I used to always go here for tires until my me...
7130    I was not impressed. The food was bad & expens...
5818    Most horrible buffet I have ever been to.\n\nM...
3704    Staff is nice, and that's it.\nThey use very c...
8741    They served us stale rice.  Average main dishe...
3938    We were so disappointed!  We were on vacation ...
7631    this is a business located in the fry's grocer...
8681    As I promised myself, I'd go back again to try...
1532    Cold, under done chips. If a Mexican food rest...
113     Unless you are a regular or look like your wal...
4165    OMG! what is the rave about? this place is dis...
9299    The salad plates were not chilled... As they u...
4311    Donuts are really good, if they have any when ...
7035    Totally excited to try this place out, my gran...
8000    Still a place that is unacceptable in my book-...
3755    Have been going to LGO since 2003 and have alw...
507     HELLISH HELLISH SUMMER WEATHER (March thru Oct...
Name: text, dtype: object

In [114]:
(X_test[y_pred  < y_test])

7148    I now consider myself an Arizonian. If you dri...
4963    This is by far my favourite department store, ...
6318    Since I have ranted recently on poor customer ...
380     This is a must try for any Mani Pedi fan. I us...
5565    I`ve had work done by this shop a few times th...
3448    I was there last week with my sisters and whil...
6050    I went to sears today to check on a layaway th...
2504    I've passed by prestige nails in walmart 100s ...
2475    This place is so great! I am a nanny and had t...
241     I was sad to come back to lai lai's and they n...
3149    I was told to see Greg after a local shop diag...
423     These guys helped me out with my rear windshie...
763     Here's the deal. I said I was done with OT, bu...
8956    I took my computer to RedSeven recently when m...
750     This store has the most pleasant employees of ...
9765    You can't give anything less than 5 stars to a...
6334    I came here today for a manicure and pedicure....
1282    Loved my haircut. Walked in and waited for jus...
1266    I've never been to this location before. My hu...
402     Once again Wildflower proves why it's my favor...
4034    "Fine dining" is not just a setting.  it isn't...
2444    EXCELLENT CUSTOMER SERVICE! \n\nEven with Happ...
2494    What a great surprise stumbling across this ba...
5736    Thank goodness for Sue at Mill Avenue Travel. ...
7903    First, I'm sorry this review is lengthy, but i...
Name: text, dtype: object

In [118]:
# X_test[6318]        --------------5 stars but prdict as a 1star
# y_test

3922    5
8379    5
4266    5
5577    5
537     5
       ..
6846    5
1588    5
8451    5
7903    5
8255    5
Name: stars, Length: 1022, dtype: int64

In [137]:
y_pred_proba = nb.predict_proba(X_test_dtm)[:,1]
# print(y_pred_proba[241])

0.9996323549491293

In [138]:
metrics.roc_auc_score(y_test,y_pred_prba)

0.9391635104285566

In [150]:
# Null Accuracy - achived by always predictinng the most frequent class
print(y_test.value_counts())
# print(max(y_test.mean(),1-y_test.mean())) #for binary class null acc.
y_test.value_counts()/len(y_test) #for multiclass null acc.-----most freq class is 5

5    838
1    184
Name: stars, dtype: int64

5    0.819961
1    0.180039
Name: stars, dtype: float64

In [151]:
print("TRUE",y_test.values[0:20])#null accuracy
print("PRED",y_pred[0:20])

TRUE [5 5 5 5 5 1 1 5 5 5 5 5 5 5 1 5 5 1 1 1]
PRED [5 5 5 5 5 5 1 5 5 5 5 5 5 5 1 5 5 5 5 1]

In [153]:
X_train_tokens = vect.get_feature_names()
len(X_train_tokens)

16825

In [204]:
# X_train_tokens[-50:]

In [156]:
# nb.class_count_
nb.feature_count_

array([[26.,  4.,  1., ...,  0.,  0.,  0.],
       [39.,  5.,  0., ...,  1.,  1.,  1.]])

In [157]:
nb.feature_count_.shape

(2, 16825)

In [159]:
bad_token_count = nb.feature_count_[0,:]

In [160]:
best_token_count = nb.feature_count_[1,:]

In [163]:
# len(best_token_count)

In [168]:
tokens = pd.DataFrame({'token':X_train_tokens,'best':best_token_count,'bad':bad_token_count}).set_index('token')

In [214]:
tokens.sample(7,random_state=1)
# tokens.isnull().sum()

# nb.class_count_  #out of 16000 tokens 2499 tokens atleast appears 1 time in best

,best,bad,bad_freq,best_freq,best_ratio,best_token_percentage,bad_token_percentage
token,,,,,,,
chopstick,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913
clipped,2.0,2.0,0.00354,0.000800,0.226090,22.609044,77.390956
decisions,5.0,3.0,0.00531,0.002001,0.376817,37.681739,62.318261
satori,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913
performances,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913
overcrowded,1.0,3.0,0.00531,0.000400,0.075363,7.536348,92.463652
50s,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913

In [178]:
tokens['bad'] = tokens.bad + 1
tokens['best'] = tokens.best + 1
tokens.sample(7, random_state=1)

              best  bad
token
chopstick      2.0  1.0
clipped        2.0  2.0
decisions      5.0  3.0
satori         2.0  1.0
performances   2.0  1.0
overcrowded    1.0  3.0
50s            2.0  1.0

In [181]:
#now we calulate each token frequncy
tokens['bad_freq'] = tokens.bad/nb.class_count_[0]
tokens['best_freq'] = tokens.best/nb.class_count_[1]

In [182]:
tokens.sample(7, random_state=1)

              best  bad  bad_freq  best_freq
token
chopstick      2.0  1.0   0.00177   0.000800
clipped        2.0  2.0   0.00354   0.000800
decisions      5.0  3.0   0.00531   0.002001
satori         2.0  1.0   0.00177   0.000800
performances   2.0  1.0   0.00177   0.000800
overcrowded    1.0  3.0   0.00531   0.000400
50s            2.0  1.0   0.00177   0.000800

In [195]:
tokens['best_token_percentage'] = (tokens.best_freq / tokens.bad_freq)*100
tokens['bad_token_percentage'] = 100 - tokens.best_token_percentage

In [196]:
tokens.sample(7, random_state=1)

,best,bad,bad_freq,best_freq,best_ratio,best_token_percentage,bad_token_percentage
token,,,,,,,
chopstick,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913
clipped,2.0,2.0,0.00354,0.000800,0.226090,22.609044,77.390956
decisions,5.0,3.0,0.00531,0.002001,0.376817,37.681739,62.318261
satori,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913
performances,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913
overcrowded,1.0,3.0,0.00531,0.000400,0.075363,7.536348,92.463652
50s,2.0,1.0,0.00177,0.000800,0.452181,45.218087,54.781913

In [201]:
# Calculate which 10 tokens are the most predictive of 5-star reviews
tokens.sort_values('best_token_percentage',ascending=False).head(10)#most occur best word is fantastic  and bad word is staffperson

,best,bad,bad_freq,best_freq,best_ratio,best_token_percentage,bad_token_percentage
token,,,,,,,
fantastic,193.0,2.0,0.003540,0.077231,21.817727,2181.772709,-2081.772709
perfect,245.0,3.0,0.005310,0.098039,18.464052,1846.405229,-1746.405229
yum,62.0,1.0,0.001770,0.024810,14.017607,1401.760704,-1301.760704
favorite,345.0,7.0,0.012389,0.138055,11.143029,1114.302864,-1014.302864
outstanding,49.0,1.0,0.001770,0.019608,11.078431,1107.843137,-1007.843137
brunch,42.0,1.0,0.001770,0.016807,9.495798,949.579832,-849.579832
gem,40.0,1.0,0.001770,0.016006,9.043617,904.361745,-804.361745
mozzarella,39.0,1.0,0.001770,0.015606,8.817527,881.752701,-781.752701
pasty,39.0,1.0,0.001770,0.015606,8.817527,881.752701,-781.752701
amazing,463.0,12.0,0.021239,0.185274,8.723323,872.332266,-772.332266

In [202]:
# 10 tokens are the most predictive of 1-star reviews.
tokens.sort_values('bad_token_percentage',ascending=False).head(10)

,best,bad,bad_freq,best_freq,best_ratio,best_token_percentage,bad_token_percentage
token,,,,,,,
staffperson,1.0,17.0,0.030088,0.0004,0.013299,1.329944,98.670056
refused,1.0,14.0,0.024779,0.0004,0.016149,1.614932,98.385068
disgusting,2.0,24.0,0.042478,0.0008,0.018841,1.884087,98.115913
filthy,1.0,11.0,0.019469,0.0004,0.020554,2.055368,97.944632
unacceptable,1.0,9.0,0.015929,0.0004,0.025121,2.512116,97.487884
acknowledge,1.0,9.0,0.015929,0.0004,0.025121,2.512116,97.487884
unprofessional,1.0,9.0,0.015929,0.0004,0.025121,2.512116,97.487884
ugh,2.0,17.0,0.030088,0.0008,0.026599,2.659887,97.340113
boca,1.0,8.0,0.014159,0.0004,0.028261,2.826130,97.173870
voucher,1.0,8.0,0.014159,0.0004,0.028261,2.826130,97.173870